<!DOCTYPE html>
<html>
        <!-- head -->
        <%- include('../partials/head', {title:'Start'}); %>
    <body  class="bg-slate-300 flex flex-col h-screen justify-between"">
        <!-- header -->
        <%- include('../partials/header'), {loggedin:'loggedin'}; %>
        <div class="flex-shrink-0 flex-grow">
            <div class="">
            <%- include('../partials/sidemenu'), {loggedin:'loggedin'}; %>
            </div>
            <main class="w-full bg-slate-300 p-4 border-2 border-slate-400">
                <div class="text-4xl">
                    <span>Hallo</span>
                    <span><%= userName %></span>
                </div>
                
                <div id="diceDiv" class="bg-red-300">
                    <div class="w-[200px] h-[200px] flex items-center">
                        
                        <div class="relative overflow-hidden w-[200px] h-[200px] bg-green-300">
                            <img class="w-[200px] h-[200px]" src="/img/d20_own_plain-red.svg" alt="d20 svg"/>
                            <div id="diceResult" class="mx-auto text-center absolute w-[160px] h-[160px] text-white text-8xl align-middle flex justify-center items-center" style="top: 10px; left: 20px;">roll dice!</div>
                        </div>
                    </div>
                    

                    <!-- button classic -->
                    <div class="hs-wrapper classic w-fit mx-auto" onclick="rollDice()">
                        <a class='hs-button classic'>
                            <span class='hs-border classic'>
                                <span class='hs-text classic'>
                                    Let's Roll!
                                </span>
                            </span>
                        </a>
                    </div>

                    <!-- button green -->
                    <div class="hs-wrapper green w-fit mx-auto" onclick="rollDice()">
                        <a class='hs-button green'>
                            <span class='hs-border green'>
                                <span class='hs-text green'>
                                    Let's Roll!
                                </span>
                            </span>
                        </a>
                    </div>

                    <!-- button silver -->
                    <div class="hs-wrapper silver w-fit mx-auto" onclick="rollDice()">
                        <a class='hs-button silver'>
                            <span class='hs-border silver'>
                                <span class='hs-text silver'>
                                    Let's Roll!
                                </span>
                            </span>
                        </a>
                    </div>

                    <!-- button gold -->
                    <div class="hs-wrapper gold w-fit mx-auto" onclick="rollDice()">
                        <a class='hs-button gold'>
                            <span class='hs-border gold'>
                                <span class='hs-text gold'>
                                    Let's Roll!
                                </span>
                            </span>
                        </a>
                    </div>

                </div>              
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   

                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
                    
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.   
                    
                    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.   
                    
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.
                </p>
            </main>
            
        </div>
        <!-- footer -->
        <%- include('../partials/footer', {pageNavId}); %>
        <script src="/socket.io/socket.io.js"></script>
        <script>
        const socket = io();
        </script>
        <script>
            function rollDice(){
                const diceResultDiv = document.getElementById("diceResult");
                diceResultDiv.innerHTML = "";
                const min = 1;
                const max = 20;
                const result = Math.floor(Math.random() * (max - min + 1) + min);
                diceResultDiv.innerHTML = result;
            }
        </script>
    </body>
</html>